<header class="header">
  {{> header}}
</header>
<main class="container">
  <aside class="profile-img-container">
    <img src="alok.jpg" alt="Dr. Alok Kanojia" class="profile-img" />
  </aside>
  <aside class="about__info">
    <p>
      Dr. Kanojia is a psychiatrist and reformed gamer. His training
      includes working at the world’s leading medical institutions: Harvard
      Medical School, McLean Hospital and Massachusetts General Hospital.
    </p>
    <p>
      More importantly, he is a gamer who almost failed out of college. He
      graduated with a 2.5 GPA, got his own gaming habits under control, and
      went on to do his psychiatry residency through Harvard Medical School.
    </p>
    <p>
      During his training, Dr. Kanojia noticed a lack of academic knowledge
      of video game addiction. He interviewed hundreds of gamers and created
      extensive psychiatric profiles of gamers that now can be used to
      inform treatment plans.
    </p>
    <p>
      Dr. Kanojia combines eastern meditative techniques, cutting edge
      neurochemistry research and successful addiction interventions to
      cerate a new approach to video gaming addiction. His focus on
      real-world success goes beyond addiction treatment to give gamers the
      tools they need to re-engage with the real world on their terms.
    </p>
    <p>
      Today, Dr. Kanojia and the Healthy Gamer team work in many different
      forms to empower people to take on video gaming addiction.
    </p>
  </aside>
</main>