<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Healthy Gamer</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <a href="/home"
      ><img src="logo.png" alt="Healthy Gamer Logo" class="logo" />
      <nav class="nav">
        <ul class="nav__menu">
          <li class="nav__item">
            <a href="/about" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="/gallery" class="nav__link">Gallery</a>
          </li>
          <li class="nav__item">
            <a href="/works" class="nav__link">Works</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="gallery">
        <img src="alok.jpg" alt="" class="gallery-item">
        <img src="presentation.jpg" alt="" class="gallery-item">
        <img src="desk.jpg" alt="" class="gallery-item">
        <img src="meditation.png" alt="" class="gallery-item">
        <img src="playing.jpg" alt="" class="gallery-item">
        <img src="interview.jpeg" alt="" class="gallery-item">
      </div>
    </main>
  </body>
</html>
