<header class="header">
  {{> header}}
</header>
<main class="container">
  <div class="gallery">
    <img src="alok.jpg" alt="" class="gallery-item">
    <img src="presentation.jpg" alt="" class="gallery-item">
    <img src="desk.jpg" alt="" class="gallery-item">
    <img src="meditation.png" alt="" class="gallery-item">
    <img src="playing.jpg" alt="" class="gallery-item">
    <img src="interview.jpeg" alt="" class="gallery-item">
  </div>
</main>