<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Healthy Gamer</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <a href="/home"
      ><img src="logo.png" alt="Healthy Gamer Logo" class="logo" />
      <nav class="nav">
        <ul class="nav__menu">
          <li class="nav__item">
            <a href="/about" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="/gallery" class="nav__link">Gallery</a>
          </li>
          <li class="nav__item">
            <a href="/works" class="nav__link">Works</a>
          </li>
        </ul>
      </nav>
    </header>
    <div>
      <div class="row">
        <div class="thumbnail-container">
          <a href="https://www.youtube.com/watch?v=C5qfKaVe89c"><img src="grief.jpg" alt="Grief, Loss, and Suicide Thumbnail" class="thumbnail"></a></div>
        <div class="description">
          <h3>On Grief, Loss & Suicide</h3>
          <p>After the passing of one of Alok's friends and someone who has been on Healthy Gamer multiple times, Dr. Alok talks honestly about grief, loss, and suicide.</p>
        </div>
      </div>
      <div class="row">
        <div class="thumbnail-container">

          <a href="https://www.youtube.com/watch?v=dvq48pfJa9w&feature=youtu.be"><img src="meditation thumbnail.jpg" alt="Meditation video Thumbnail" class="thumbnail"></a>
        </div>
        <div class="description">

            <a href="https://www.youtube.com/watch?v=dvq48pfJa9w&feature=youtu.be"></a><h3>What even is meditation?</h3></a>
          <p>Dr. Alok explains in detail what meditation is.</p>
        </div>
      </div>
    </div>
  </body>
</html>
